flows/Flow_for_case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Refresh Record Page</description>
        <name>Refresh_View</name>
        <label>Refresh View</label>
        <locationX>655</locationX>
        <locationY>1273</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>no</name>
        <choiceText>no</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>noThanks</name>
        <choiceText>No Thanks</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Sendatechnician</name>
        <choiceText>Send a technician</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesBoolean</name>
        <choiceText>yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_input</name>
        <label>Check User input</label>
        <locationX>689</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recommendation_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Case Recommendation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen2</targetReference>
            </connector>
            <label>Close Case</label>
        </rules>
        <rules>
            <name>Update_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recommendation_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Case Update Recommendation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_2</targetReference>
            </connector>
            <label>Update Pending Case</label>
        </rules>
        <rules>
            <name>Onsite_Technician_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recommendation_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite Technician Recommendation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>technician_Req</targetReference>
            </connector>
            <label>Onsite Technician Request</label>
        </rules>
        <rules>
            <name>upgrade_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recommendation_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Payment Recommendation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount</targetReference>
            </connector>
            <label>Collect Late Payment</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CasePriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>closedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Flow for case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for case update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Payment_Due_Case_Comment</name>
        <label>Add Payment Due Case Comment</label>
        <locationX>1039</locationX>
        <locationY>712</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>paymentDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>child_record_comment</name>
        <label>child record comment</label>
        <locationX>246</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Update_a_case_record</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Case_Closure_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>child_record_comment_0</name>
        <label>child record comment</label>
        <locationX>503</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Add_Case_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_a_case_record</name>
        <label>Update a case record</label>
        <locationX>247</locationX>
        <locationY>793</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Select_the_close_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>503</locationX>
        <locationY>819</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Case_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Internal_Case_Comment</name>
        <label>Update Internal Case Comment</label>
        <locationX>741</locationX>
        <locationY>754</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>OnsiteTechnician</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Update_2</name>
        <label>Case Update 2</label>
        <locationX>503</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>child_record_comment_0</targetReference>
        </connector>
        <fields>
            <name>Case_Priority</name>
            <choiceReferences>CasePriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaseStatus</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Case_Comment</name>
            <fieldText>Add Case Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Discount</name>
        <label>Discount</label>
        <locationX>1040</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Payment_Due_Case_Comment</targetReference>
        </connector>
        <fields>
            <name>paymentDue</name>
            <fieldText>&lt;p&gt;Payment Completion Link send to your authorized email. &lt;/p&gt;&lt;p&gt;Please complete your pending dues and enjoy your uninterrupted service.&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>247</locationX>
        <locationY>370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>child_record_comment</targetReference>
        </connector>
        <fields>
            <name>Select_the_close_reason</name>
            <choiceReferences>closedReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the close reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Closure_Comment</name>
            <fieldText>Case Closure Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>technician_Req</name>
        <label>technician Req</label>
        <locationX>741</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Internal_Case_Comment</targetReference>
        </connector>
        <fields>
            <name>OnsiteTechnician</name>
            <fieldText>&lt;p&gt;We are sending a technician onsite shortly. Please be ready, shortly he will communicate with you for timing details. Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>568</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_User_input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendation_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
