flows/Update_Rebate_Amount_on_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Rebate_Amount</name>
        <label>Assign Rebate Amount</label>
        <locationX>1001</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>TotalRebateAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OLIs.Rebate_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Rebate_Amount_is_changed</name>
        <label>Rebate Amount is changed</label>
        <locationX>523</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rebate_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Rebate_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OLIs_with_Rebate_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>to be used in Forecasting</description>
    <interviewLabel>Update Rebate Amount on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Rebate Amount on Opportunity</label>
    <loops>
        <name>Loop_through_OLIs</name>
        <label>Loop through OLIs</label>
        <locationX>734</locationX>
        <locationY>318</locationY>
        <collectionReference>Get_OLIs_with_Rebate_Amount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Rebate_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Rebate_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OLIs_with_Rebate_Amount</name>
        <label>Get OLIs with Rebate Amount</label>
        <locationX>736</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Rebate_Amount</name>
        <label>Update Total Rebate Amount</label>
        <locationX>557</locationX>
        <locationY>322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rebate_Amount__c</field>
            <value>
                <elementReference>TotalRebateAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>55</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Rebate_Amount_is_changed</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalRebateAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
